<ion-header>
  <ion-toolbar>
    <ion-title class="t1">Ver Canciones</ion-title>
    <ion-buttons slot="start">   
      <ion-back-button class="bback1" defaultHref="/home" icon="arrow-back-circle-outline"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <strong> ID de la cancion es:</strong> {{ id }}

  <ion-item>
    <ion-label><strong>Titulo:</strong></ion-label>
    <ion-input [(ngModel)]="document.data.titulo"></ion-input>
  </ion-item>
  
  
  <ion-item>
    <ion-label>Autor</ion-label>
    <ion-input [(ngModel)]="document.data.autor"></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label>Duracion</ion-label>
    <ion-input [(ngModel)]="document.data.duracion"></ion-input>
  </ion-item>

  <ion-item>
    <ion-button color="primary" type="File" (click)="uploadImagePicker()">Examinar</ion-button>
    <ion-img [src]=" document.data.imagen" style="height: auto; max-width: 23vh;"></ion-img>   
  </ion-item>

  <div *ngIf=" id == 'nuevo'">
    <ion-button (click)="clicBotonInsertar()">Insertar Cancion</ion-button>
  </div>
  <div *ngIf=" id != 'nuevo'">
    <button ion-button class="next" (click)="previousButtonClick">
      <ion-button (click)="showConfirm()">Borrar Cancion</ion-button>
      <ion-button (click)="clicBotonModificar()">Modificar Cancion</ion-button>
   </button>
  </div>

  <div id="container">
    <button ion-button icon-only (click)="regularShare(i)" color="primary" clear>
      <ion-icon class="share-icon" name="share"></ion-icon>
    </button>
    <!-- Boton1 -->
    <button ion-button icon-only (click)="whatsappShare(i)" color="primary" clear>
      <ion-icon class="share-icon" name="logo-whatsapp"></ion-icon>
    </button>
    <!-- Boton2 -->
    <button ion-button icon-only (click)="facebookShare(i)" color="primary" clear>
      <ion-icon  class="share-icon" name="logo-facebook"></ion-icon>
    </button>
    <!-- Boton3 -->
    <button ion-button icon-only (click)="twitterShare(i)" color="primary" clear>
      <ion-icon class="share-icon" name="logo-twitter"></ion-icon>
    </button>
  </div>

</ion-content>
