<ion-header>
  <ion-toolbar>
    <ion-title class="t1">Acerca de la página</ion-title>
    <ion-buttons slot="start">   
      <ion-back-button class="bback1" defaultHref="/home" icon="arrow-back-circle-outline"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>Página de Información</h1>
 <p>Acerca de la aplicación, tiene una página principal la cual está diseñada para poder añadir una canción a nuestra lista.</p>
 <p>Podemos ver ue tenemos para poder añadir tanto título, autor, duración e imagen.</p>
 <p>Una vez añadida, podemos seleccionar más abao en la lista de canciones la cancion que queramos y nos llevará a una segunda página en la cual podemos modificarla o borrarla.</p>
 <p>Tenemos tambien otro botón para añadir una canción desde una segunda página.</p>
 <p>En el pie de página, vemos 2 botones, uno que te lleva a esta página y otro que te lleva a unas opciones especiales.</p>
</ion-content>
